spring:
  config:
    import: "vault://"
  cloud:
    compatibility-verifier:
      enabled: false
    vault:
      uri: ${VAULT_ADDR:http://localhost:8200}
      authentication: TOKEN
      token: ${VAULT_TOKEN}
      kv:
        enabled: true
        backend: secret
        default-context: debugging-rounge

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

frontend:
  base-url: http://localhost:3000
