spring:
  application:
    name: debugging-rounge

  profiles:
    default: local

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  flyway:
    enabled: true
    locations: classpath:db/migration

  security:
    oauth2:
      client:
        registration:
          google:
            scope:
              - email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: email
  data:
    web:
      pageable:
        default-page-size: 20
        max-page-size: 100
        page-parameter: page
        size-parameter: size

jwt:
  token:
    access-expiration: 30m
    refresh-expiration: 14d
    renew-threshold: 24h

  cookie:
    name: refreshToken
    path: /auth
    max-age: 14d
    same-site: None
    secure: true
    http-only: true

aws:
  s3:
    bucket-name: debugging-rounge-bucket
    region: ap-northeast-2
    base-url: https://debugging-rounge-bucket.s3.ap-northeast-2.amazonaws.com
    access-key-id: ${AWS_ACCESS_KEY_ID}
    secret-key: ${AWS_SECRET_ACCESS_KEY}
  image:
    allowed-domains: debugging-rounge-bucket.s3.ap-northeast-2.amazonaws.com
